.main{

    display: flex;
    flex-direction: column;

    .mask, .body{
      
      width: 98.5vw;
      align-items: center;
      justify-content: center;
      color: #afa18f;
      font-size: 7vw;
      line-height: 7vw;
      cursor: default;
      
      p{
        

      }
      span{
        color: #ec4e39;
      }
    }
  
    .mask{
      mask-image: url('/mask.svg');
      mask-repeat: no-repeat;
      mask-size: 18vw;
      background: #ec4e39;
      position: absolute;
      color: black;
      overflow: hidden;
      
    }
  }