.container{
    display: flex;
    align-items: center;
    flex-direction: column;

}


.container section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 99vh;
    
    
}
.container section img{
    z-index: 1;
    overflow: hidden;
}


.container section p{
    font-size: 40px;
    width: 800px;
    align-items: center;
    justify-content: center;
    margin: 6%;
    
}

.greengeto{
    position: relative;
    overflow: hidden;
}

.greengeto img{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    object-fit: cover;

}


.designs{
    position: relative;
    overflow: hidden;
}

.designs img{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.logo{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.greenleaf,.whitebamboo{
  
    position: absolute;
    z-index: 0;
    opacity: 0.4;
    
}
.greenleaf img,.whitebamboo img{
    width: 100%;

}


.cards{
    overflow-x: scroll;
}

.proj{
    z-index: 2;
    display: inline-block;
}  


.proj span{
    display: table;
    font-size: 17.2vw;
}


@media screen and (max-width: 800px) {
    .container section {
      display: flex;
      flex-direction: column;
    }
  
    .section3{
       transform: translateY(20%);
    }
    .container section p{
        width: fit-content;
      font-size: 28px;
    }
    .container section{
        gap: 10%;
    }
    .greenleaf{
        transform: translateY(-50%);
    }
    .whitebamboo{
        transform: translateY(50%);
    }
  }


  @media screen and (max-width: 1320px) {
    .container section {
        display: flex;
        flex-direction: column;
    }
  
    .section3{
       transform: translateY(20%);
    }
    .container section p{
        width: fit-content;
        font-size: 34px;
    }
    .container section{
        gap: 10%;
    }
    
 
  }

  