.main{
    background-color: rgb(192, 192, 192);
    height: 70vh;
    width: 100vh;
    margin: 0;
    display: flex;
    
}

.master{
    display: flex;
}

.cursorr{
    height: 200px;
    width: 200px;
    background-color: rgb(228, 0, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}





.eyeBall{
    position: absolute;
    
    height: 70px;
    width:70px;
    transform: translate(-50%,-50%);
    background:black;
    border-radius: 50%;
    transition:0;


}

.mains{
    overflow: hidden;
    height: 400px;
}