.main {
    background-color: rgb(29, 29, 29);
    display: flex;
    overflow: hidden;
    
    .body,.mask{
        height: 100px;
        
        width: 80%;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 160%;
        span{
            color: rgb(110, 110, 110);
        }
        
        margin-top: 90px;
    }

}
.home{
    
    height: 98vh;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aboutimage{
    padding: 2%;

}


.goalsandasp{
    display: flex;

}
.goalsandasp img{
    width: 1000px;
}

.textcontent{
    align-items: end;
    width: 90%;
    display: flex;
    flex-direction: column;


}


.cont {
    position: relative;
    display: flex;
    align-items: center;
}



.goalsandasp {
   
    top: 0;
    left: 0;
}


.aboutimage_PG2{
    padding: 2%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    
}
.innerimage{
    position: absolute;
    width: 90%;
}
.innerimage img{
    width: 90%;
    height: 90%;
    
}


.mask_PG2{
    font-size: 210%;
    width: 80%;
    
}
.textpg2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text1{
    transform: translateY(100px);

}   
.text_1{
    font-size: 200%;
}
.text_1 span{
    font-size: 200%;
}

.backhome{
    transform: translateY(30%);
}