.container {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transform: translateY(-70%);
  }
  
  .scroll {
    overflow: hidden;
  }
  
  .rtol {
    display: flex;
  }
  
  .scroll p {
    font-size: 100px;
    margin-bottom: 0;
    top: 0;
    animation: movdots 30s linear infinite;
  }
  
  @keyframes movdots {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }