::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: rgb(168, 168, 168);
}::-webkit-scrollbar-thumb{
    height: 20px; /* Adjust this value to reduce the height */
    width: 10px;
    background-color: rgb(107, 107, 107);
}