.main {
    height: 300vh;
    background-color: rgb(200, 200, 200);
}

.home{
    position: relative;
    overflow: hidden;
    
    height: 98vh;
    width: 100%;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
}

@keyframes dissapear {
    to {
        opacity: 0%;
    }
}

.greets {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 400%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: dissapear 1s ease 2.4s forwards;
}

@keyframes upss {
    to {
        top: -50%;
        left: 50%;
        height: 100%;
        width: 100%;
    }
}

.upmove {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(30, 30, 30);
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    transform: translate(-50%, -50%);
    animation: upss 1.2s ease 2.4s forwards;
    z-index: 0;
}


.navlist {
    width: 5rem;
    position: relative;
}

.navlist li {
    position: sticky;
    display: flex;
    list-style: none;
    text-decoration: none;
    transform: rotate(-90deg);
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    

}

.unorderedlist {
    gap: 17rem;
    display: flex;
    flex-direction: column;

}

.navlist ul {

    transform: translate(-30%);
}

.navlist ul li {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navlist ul li p {
    font-size: 1.7rem;

    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navline {
    background-color: rgb(163, 163, 163);
    width: 4px;
    height: 100%;
}



.arctext {
    margin: 10px;
    animation: rotateImage 30s linear infinite;
}

@keyframes rotateImage{
    from{
        transform: rotate(0deg);
    }
    to{
        /* animation-duration: 12s; */
        transform: rotate(360deg);
    }
}

.displayname {
    position: absolute;
    bottom: 0;
    right: 0;
    
}

