.main{
    display: flex;
    align-items: center;
    justify-content: center;
    .mainUL{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin: 0 7vw; 
            list-style: none;
            font-size: 1.4vw;
          }
          a{
            text-decoration: none;
            color: rgb(255, 255, 255);
          }
    }
}

